.contact {
  padding: 1em 0 1em 0;
  color: #eee;
  .wrapper {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .about-me {
      max-width: 400px;
      line-height: 1.7;
      color: #eee;
      P {
        font-weight: 100;
      }
      p:nth-child(1) {
        font-weight: 900;
        margin: 1rem 0;
      }

      i,
      li {
        font-weight: 100;
      }

      .fab {
        color: #2800ad;
      }

      .me {
        margin-bottom: 2rem;
        font-family: "Oswald", sans-serif;
        position: relative;
        color: #eee;
        .underline {
          position: absolute;
          background: #2800ad;
          display: inline-block;
          left: 0;
          bottom: 0;
          height: 10px;
          width: 40%;
          max-width: 150px;
          z-index: -2;
        }
      }
    }
  }
}

.footer {
  padding: 1em 0 1em 0;
  border-top: 1px #5b566b solid;
  color: #eee;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a + a {
    margin-left: 1rem;
  }

  .fab {
    color: #eee;
    transition: color 200ms ease;
    &:hover {
      color: #2800ad;
    }
  }
}
